<!DOCTYPE html>
<html lang="en">
<head>
    <title>Input Features</title>
    <script>
        function updateValue(slider, outputId) {
            document.getElementById(outputId).innerText = slider.value;
        }
    </script>
</head>
<body>
    <h1>Enter Iris Flower Features</h1>
    <form action="/predict" method="post">
        <label>Sepal Length:</label>
        <input type="range" id="sepal_length" name="sepal_length" min="4" max="8" step="0.1" value="6" 
               oninput="updateValue(this, 'sepal_length_value')">
        <span id="sepal_length_value">6</span>
        <br><br>

        <label>Sepal Width:</label>
        <input type="range" id="sepal_width" name="sepal_width" min="2" max="5" step="0.1" value="3" 
               oninput="updateValue(this, 'sepal_width_value')">
        <span id="sepal_width_value">3</span>
        <br><br>

        <label>Petal Length:</label>
        <input type="range" id="petal_length" name="petal_length" min="1" max="7" step="0.1" value="4" 
               oninput="updateValue(this, 'petal_length_value')">
        <span id="petal_length_value">4</span>
        <br><br>

        <label>Petal Width:</label>
        <input type="range" id="petal_width" name="petal_width" min="0.1" max="3" step="0.1" value="1" 
               oninput="updateValue(this, 'petal_width_value')">
        <span id="petal_width_value">1</span>
        <br><br>

        <button type="submit">Predict</button>
    </form>
</body>
</html>
