<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome</title>
    <link href="./static/css/main.css" rel="stylesheet" />
</head>
<body background="./static/pexels-chris-f-38966-17013937.jpg">
    <h1>Iris Flower Classifier</h1>
    
<div class="text" style="margin-top:10%"><p>Iris is a flowering plant genus of 310 accepted species with showy flowers. 
    As well as being the scientific name, iris is also widely used as a common name 
    for all Iris species, as well as some belonging to other closely related genera. 
    A common name for some species is flags, while the plants of the subgenus 
    Scorpiris are widely known as junos, particularly in horticulture. 
    It is a popular garden flower.</p>
    <form action="/input" method="get">
        <button type="submit">Start Prediction</button>
      </form>
</div>

</body>
</html>